#btnPesq{
    width: 90px;
    margin-top: 24px;
}
.custom-combobox {
    position: relative;
    display: inline-block;
    width: 97%;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    width: 96%;
    color: #696969;
    font-weight: normal;
}